.shopHero1ProductSlide1Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.h1Headline6,
.h5 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.h1Headline6 {
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
}
.weKnowHow {
  margin: 0;
}
.h3,
.h4 {
  position: relative;
}
.h4 {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
  color: #fafafa;
}
.h3 {
  letter-spacing: 0.1px;
  line-height: 32px;
}
.buttonbtnprimaryColorbtnL,
.cta {
  display: flex;
  justify-content: flex-start;
}
.buttonbtnprimaryColorbtnL {
  border-radius: 5px;
  background-color: #2dc071;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  color: white;
}
.cta {
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  font-size: 24px;
}
.colMd4,
.colMd8 {
  overflow: hidden;
  flex-shrink: 0;
}
.colMd8 {
  width: 599px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.colMd4 {
  width: 415px;
}
.container,
.row {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  flex-direction: row;
  padding: 48px 0;
  gap: 30px;

}
.container {
  position: absolute;
  top: 48px;
  left: calc(50% - 522.5px);
  flex-direction: column;
  padding: 112px 0;
  color: white;
}
.carouselInner,
.carouselItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 716px;
  overflow: hidden;
}
.carouselInner {
  width: 100%;
  right: 0;
}
.carouselcaptions,
.carouselcaptions1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 62px;
  height: 10px;
}
.carouselcaptions1 {
  left: 63px;
  width: 63px;
  opacity: 0.5;
}
.carouselIndicators {
  position: absolute;
  bottom: 49px;
  left: calc(50% - 62.5px);
  width: 126px;
  height: 10px;
  overflow: hidden;
}
.carouselControlNextIcon,
.carouselControlPrevIcon {
  position: absolute;
  top: 283px;
  left: 1381px;
  width: 24px;
  height: 44.47px;
  overflow: hidden;
}
.carouselControlPrevIcon {
  left: 40px;
}
.carousel1 {
  position: absolute;
  width: 100%;
  top: 136px;
  right: 0;
  left: 1px;
  border-radius: 5px;
  
  font-size: 16px;
}
