/* @media all and (max-width:375px) { */
      
      .bandage {
            position: absolute;
            top: 13px;
            left: 0;
            letter-spacing: 0.1px;
            line-height: 32px;
          }
          .navbar-brand {
            position: absolute;
            top: 23px;
            left: calc(50% - 172px);
            width: 187px;
            height: 58px;
            overflow: hidden;
            text-align: left;
          }
          .icn-menu-icn-xs {
            position: absolute;
            top: 45px;
            left: calc(50% + 145px);
            width: 24px;
            height: 13.71px;
          }
          .mobile-menu {
            position: relative;
            letter-spacing: 0.2px;
            line-height: 45px;
            color: #252b42;
          }
          .navbar-nav {
            position: absolute;
            top: 149px;
            left: calc(50% - 61.5px);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 30px;
            font-size: 30px;
            color: #737373;
          }
          .icn-settings-icn-xs {
            position: relative;
            width: 27px;
            height: 28px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .login-register {
            position: relative;
            letter-spacing: 0.2px;
            line-height: 45px;
          }
          .a,
          .btn-32 {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
          }
          .btn-32 {
            border-radius: 37px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;
            gap: 5px;
          }
          .a {
            width: 310px;
            height: 75px;
          }
          .icn-settings-icn-xs1,
          .li {
            position: relative;
            overflow: hidden;
            flex-shrink: 0;
          }
          .li {
            width: 310px;
            height: 75px;
            font-size: 30px;
          }
          .icn-settings-icn-xs1 {
            width: 34px;
            height: 34px;
          }
          .btn-321 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 37px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;
          }
          .a1,
          .icn-settings-icn-xs2,
          .li1 {
            width: 64px;
            height: 64px;
            overflow: hidden;
          }
          .a1 {
            position: absolute;
            top: 0;
            left: 0;
          }
          .icn-settings-icn-xs2,
          .li1 {
            position: relative;
            flex-shrink: 0;
          }
          .icn-settings-icn-xs2 {
            width: 37px;
            height: 37px;
          }
          .div {
            position: relative;
            letter-spacing: 0.2px;
            line-height: 16px;
          }
          .a2,
          .icn-settings-icn-xs3,
          .li2 {
            width: 77px;
            height: 67px;
            overflow: hidden;
          }
          .a2 {
            position: absolute;
            top: 0;
            left: 0;
          }
          .icn-settings-icn-xs3,
          .li2 {
            position: relative;
            flex-shrink: 0;
          }
          .icn-settings-icn-xs3 {
            width: 29px;
            height: 29px;
          }
          .a3,
          .li3 {
            width: 69px;
            height: 59px;
            overflow: hidden;
          }
          .a3 {
            position: absolute;
            top: 0;
            left: 0;
          }
          .li3 {
            position: relative;
            flex-shrink: 0;
          }
          .navbar-nav1 {
            position: absolute;
            top: 590px;
            left: calc(50% - 155px);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            color: #23a6f0;
          }
          .navbar-style-7-navbar-light {
            position: relative;
            width: 414px;
            height: 879px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .h2 {
            position: relative;
            letter-spacing: 0.1px;
            line-height: 32px;
          }
          .col-md-6 {
            width: 414px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 24px 0;
            box-sizing: border-box;
          }
          .link {
            position: relative;
            letter-spacing: 0.2px;
            line-height: 24px;
          }
          .topcoatnext-light-icon {
            position: relative;
            width: 7px;
            height: 12px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .h6 {
            position: relative;
            letter-spacing: 0.2px;
            line-height: 24px;
            color: #737373;
          }
          .breadcrumb {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0;
            gap: 15px;
          }
          .col-md-10 {
            align-self: stretch;
            align-items: center;
            font-size: 14px;
          }
          .col-md-10,
          .container,
          .row {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          .row {
            width: 414px;
            align-items: flex-start;
            gap: 30px;
          }
          .container {
            background-color: #fafafa;
            align-items: center;
            padding: 24px 0;
          }
          .card-cover-5-icon {
            width: 100%;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
          .card-cover-5-icon,
          .filter,
          .media-bg-cover {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
          }
          .filter {
            width: calc(100% - 1px);
            right: 1px;
            background-color: rgba(33, 33, 33, 0.25);
          }
          .media-bg-cover {
            width: 100%;
            right: 0;
          }
          .h61,
          .h62 {
            position: absolute;
            bottom: 142px;
            left: 127px;
            letter-spacing: 0.1px;
            line-height: 24px;
          }
          .h62 {
            bottom: 108px;
            left: 139px;
            font-size: 14px;
            letter-spacing: 0.2px;
          }
          .card-content {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            height: 300px;
            overflow: hidden;
          }
          .card-item,
          .col-md-4 {
            width: 332px;
            height: 300px;
            overflow: hidden;
          }
          .card-item {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
          }
          .col-md-4 {
            position: relative;
            flex-shrink: 0;
            text-align: left;
          }
          .h63,
          .h64 {
            position: absolute;
            line-height: 24px;
          }
          .h63 {
            top: calc(50% - 16px);
            left: calc(50% - 33px);
            letter-spacing: 0.1px;
          }
          .h64 {
            bottom: 88px;
            left: calc(50% - 27px);
            font-size: 14px;
            letter-spacing: 0.2px;
          }
          .col-md-41 {
            position: relative;
            width: 332px;
            height: 300px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .card-content2,
          .filter2 {
            position: absolute;
            top: 0;
            left: 0.5px;
          }
          .filter2 {
            height: 100%;
            width: calc(100% - 1px);
            right: 0.5px;
            bottom: 0;
            background-color: rgba(33, 33, 33, 0.25);
            overflow: hidden;
          }
          .card-content2 {
            width: 100%;
            right: -0.5px;
          }
          .card-content2,
          .card-item2,
          .col-md-42 {
            height: 300px;
            overflow: hidden;
          }
          .card-item2 {
            position: absolute;
            top: 0;
            left: 0.5px;
            background-color: #fff;
            width: 332px;
          }
          .col-md-42 {
            position: relative;
            width: 333px;
            flex-shrink: 0;
          }
          .row1 {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 15px;
          }
          .filter3 {
            position: absolute;
            height: 100%;
            width: calc(100% - 13px);
            top: 0;
            right: 12.5px;
            bottom: 0;
            left: 0.5px;
            background-color: rgba(33, 33, 33, 0.25);
            overflow: hidden;
          }
          .h67,
          .h68 {
            position: absolute;
            line-height: 24px;
          }
          .h67 {
            top: calc(50% - 16px);
            left: calc(50% - 39.5px);
            letter-spacing: 0.1px;
          }
          .h68 {
            bottom: 88px;
            left: 139px;
            font-size: 14px;
            letter-spacing: 0.2px;
            text-align: center;
          }
          .card-content3,
          .card-item3 {
            position: absolute;
            top: 0;
            left: 0.5px;
            height: 300px;
            overflow: hidden;
          }
          .card-content3 {
            width: calc(100% - 13px);
            right: 12.5px;
          }
          .card-item3 {
            background-color: #fff;
            width: 344px;
          }
          .h610,
          .h69 {
            position: absolute;
            bottom: 142px;
            left: 133px;
            letter-spacing: 0.1px;
            line-height: 24px;
          }
          .h610 {
            bottom: 88px;
            left: 139px;
            font-size: 14px;
            letter-spacing: 0.2px;
          }
          .col-md-44 {
            position: relative;
            width: 332px;
            height: 300px;
            overflow: hidden;
            flex-shrink: 0;
            text-align: center;
          }
          .container1,
          .row2 {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
          .row2 {
            gap: 19px;
            text-align: left;
          }
          .container1 {
            position: absolute;
            top: 0;
            left: calc(50% - 166px);
            padding: 24px 0;
            gap: 18px;
          }
          .mobile-shop-cards-18 {
            align-self: stretch;
            position: relative;
            background-color: #fafafa;
            height: 1628px;
            overflow: hidden;
            flex-shrink: 0;
            font-size: 16px;
            color: #fff;
          }
          .sort {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0 1px;
          }
          .icon {
            position: relative;
            width: 16px;
            height: 16px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .btn-sm-24,
          .btn-sm-24-parent,
          .sort1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }
          .btn-sm-24 {
            border-radius: 5px;
            border: 1px solid #ececec;
            overflow: hidden;
            padding: 15px;
          }
          .btn-sm-24-parent,
          .sort1 {
            gap: 15px;
          }
          .sort1 {
            padding: 0 1px;
          }
          .dropdown {
            position: absolute;
            top: calc(50% - 14px);
            left: 18px;
            letter-spacing: 0.2px;
            line-height: 28px;
          }
          .vector-icon {
            position: absolute;
            top: calc(50% - 4px);
            right: 29.01px;
            width: 14px;
            height: 8px;
          }
          .list-entry,
          .option {
            position: absolute;
            top: 0;
            left: 0;
          }
          .option {
            width: 100%;
            right: 0;
            border-radius: 5px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            box-sizing: border-box;
            height: 50px;
            overflow: hidden;
            font-size: 14px;
            font-family: Montserrat;
          }
          .list-entry {
            letter-spacing: 0.1px;
            line-height: 16px;
          }
          .option1 {
            top: 79px;
          }
          .option1,
          .option2,
          .option3,
          .option4,
          .option5 {
            position: absolute;
            left: 25px;
            width: 89px;
            height: 16px;
            overflow: hidden;
            display: none;
          }
          .option2 {
            top: 119px;
            color: #23a6f0;
          }
          .option3,
          .option4,
          .option5 {
            top: 159px;
          }
          .option4,
          .option5 {
            top: 199px;
          }
          .option5 {
            top: 239px;
          }
          .custom-select,
          .select {
            height: 50px;
            overflow: hidden;
          }
          .select {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
          }
          .custom-select {
            position: relative;
            width: 141px;
            flex-shrink: 0;
          }
          .btnprimary-colorbtn-sm {
            align-self: stretch;
            border-radius: 5px;
            background-color: #23a6f0;
            width: 94px;
            overflow: hidden;
            flex-shrink: 0;
            flex-direction: column;
            padding: 10px 20px;
            box-sizing: border-box;
            text-align: center;
            font-size: 14px;
            color: #fff;
            font-family: Montserrat;
          }
          .btnprimary-colorbtn-sm,
          .row3,
          .sort2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
          .sort2 {
            flex-direction: row;
            padding: 0 1px;
            gap: 15px;
            font-size: 15px;
            font-family: Roboto;
          }
          .row3 {
            overflow: hidden;
            flex-direction: column;
            gap: 24px;
          }
          .container2,
          .filter-row {
            width: 412px;
            overflow: hidden;
          }
          .container2 {
            position: absolute;
            top: 0;
            left: calc(50% - 206px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 24px 0;
            box-sizing: border-box;
          }
          .filter-row {
            position: relative;
            background-color: #fff;
            height: 216px;
            flex-shrink: 0;
            text-align: left;
            font-size: 14px;
            color: #737373;
          }
          .product-cover-5-icon {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: -10px;
            bottom: 0;
            left: 10px;
            max-width: 100%;
            overflow: hidden;
            max-height: 100%;
            object-fit: cover;
          }
          .fixed-height {
            align-self: stretch;
            position: relative;
            height: 427px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .h5-product-title {
            position: relative;
            letter-spacing: 0.1px;
            line-height: 24px;
            display: inline-block;
            width: 131px;
          }
          .link-product-category {
            position: relative;
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 24px;
            color: #737373;
          }
          .h5-price,
          .h5-price1 {
            position: relative;
            letter-spacing: 0.1px;
            line-height: 24px;
            display: inline-block;
            width: 52px;
            flex-shrink: 0;
          }
          .h5-price1 {
            color: #23856d;
            width: 45px;
          }
          .prices {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 5px 3px;
            gap: 5px;
            color: #bdbdbd;
          }
          .ellipse-div,
          .product-colors-child,
          .product-colors-inner,
          .product-colors-item {
            position: relative;
            border-radius: 50%;
            background-color: #23a6f0;
            width: 16px;
            height: 16px;
          }
          .ellipse-div,
          .product-colors-inner,
          .product-colors-item {
            background-color: #23856d;
          }
          .ellipse-div,
          .product-colors-inner {
            background-color: #e77c40;
          }
          .ellipse-div {
            background-color: #252b42;
          }
          .product-colors {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 6.08px;
          }
          .h5-product-title-parent,
          .product-card {
            overflow: hidden;
            justify-content: flex-start;
          }
          .h5-product-title-parent {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 25px 35px;
            gap: 10px;
          }
          .product-card {
            background-color: #fff;
            width: 348px;
            align-items: flex-start;
          }
          .col-md-45,
          .product-card,
          .row4 {
            display: flex;
            flex-direction: column;
          }
          .col-md-45 {
            width: 328px;
            align-items: center;
            justify-content: flex-start;
          }
          .row4 {
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
          }
          .div2,
          .div3,
          .prev {
            overflow: hidden;
            align-items: center;
            justify-content: center;
          }
          .prev {
            background-color: #f3f3f3;
            border: 1px solid #bdbdbd;
            display: flex;
            flex-direction: row;
            padding: 25px;
            color: #bdbdbd;
          }
          .div2,
          .div3 {
            border: 1px solid #e9e9e9;
            padding: 25px 20px;
          }
          .div2 {
            background-color: #fff;
            display: flex;
            flex-direction: row;
          }
          .div3 {
            background-color: #23a6f0;
            color: #fff;
          }
          .div3,
          .next,
          .ul {
            display: flex;
            flex-direction: row;
          }
          .next {
            background-color: #fff;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            padding: 25px;
          }
          .ul {
            position: absolute;
            top: 0;
            left: 0;
            align-items: flex-start;
            justify-content: flex-start;
          }
          .pagination {
            position: relative;
            border-radius: 6.73px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1.3px solid #bdbdbd;
            box-sizing: border-box;
            width: 313px;
            height: 74px;
            overflow: hidden;
            flex-shrink: 0;
            font-size: 14px;
            color: #23a6f0;
          }
          .container3 {
            position: absolute;
            top: 0;
            left: calc(50% - 164px);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 80px 0;
            gap: 48px;
          }
          .mobile-product-cards-10 {
            position: relative;
            background-color: #fff;
            width: 414px;
            height: 2832px;
            overflow: hidden;
            flex-shrink: 0;
            font-size: 16px;
          }
          .cover-icon {
            object-fit: cover;
          }
          .background,
          .cover-icon,
          .filter5 {
            position: absolute;
            top: 0;
            left: 0;
            width: 414px;
            height: 1014px;
            overflow: hidden;
          }
          .filter5 {
            background-color: rgba(0, 0, 0, 0.5);
          }
          .background {
            display: none;
          }
          .fa-brandshooli-icon {
            position: relative;
            width: 149px;
            height: 50px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-3 {
            width: 153px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
          .fa-brandslyft-icon {
            position: relative;
            width: 139px;
            height: 99px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-31 {
            width: 146px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
          .fa-brandspied-piper-hat-icon {
            position: relative;
            width: 149px;
            height: 109px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-32 {
            width: 152px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
          .fa-brandsstripe-icon {
            position: relative;
            width: 149px;
            height: 60px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-33 {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
          .fa-brandsaws-icon {
            position: relative;
            width: 153px;
            height: 92px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-34 {
            width: 151px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
          .fa-brandsreddit-alien-icon {
            position: relative;
            width: 149px;
            height: 142px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .container4,
          .row5 {
            width: 414px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          .row5 {
            align-items: center;
            padding: 50px 0;
            box-sizing: border-box;
            gap: 60px;
          }
          .container4 {
            position: absolute;
            top: 110px;
            left: calc(50% - 207px);
            align-items: flex-start;
          }
          .mobile-clients-1 {
            align-self: stretch;
            position: relative;
            background-color: #fafafa;
            height: 1173px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .bandage1,
          .hr {
            position: absolute;
          }
          .hr {
            top: 141.5px;
            left: calc(50% - 528.5px);
            border-top: 1px solid #e6e6e6;
            box-sizing: border-box;
            width: 1058px;
            height: 1px;
          }
          .bandage1 {
            top: 13px;
            left: -0.5px;
            letter-spacing: 0.1px;
            line-height: 32px;
          }
          .navbar-brand1 {
            position: relative;
            width: 187px;
            height: 58px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .col-md-61 {
            width: 236px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
          .facebook-icon,
          .twitter-icon {
            position: relative;
            width: 24px;
            height: 24px;
            overflow: hidden;
            flex-shrink: 0;
          }
          .twitter-icon {
            height: 19.76px;
          }
          .social-media {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }
          .col-md-62,
          .row6 {
            overflow: hidden;
            display: flex;
            flex-direction: column;
          }
          .col-md-62 {
            width: 243px;
            align-items: flex-start;
            justify-content: center;
          }
          .row6 {
            align-items: center;
            justify-content: flex-start;
            gap: 11.5px;
          }
          .container5,
          .div5 {
            position: absolute;
            top: 0;
            overflow: hidden;
          }
          .container5 {
            left: calc(50% - 163px);
            width: 325px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 40px 0;
            box-sizing: border-box;
          }
          .div5 {
            left: calc(50% - 207px);
            background-color: #fff;
            width: 414px;
            height: 173px;
          }
          .cover-icon1 {
            object-fit: cover;
          }
          .background1,
          .cover-icon1,
          .filter6 {
            position: absolute;
            top: 0;
            left: 0;
            width: 414px;
            height: 1071px;
            overflow: hidden;
          }
          .filter6 {
            background-color: rgba(0, 0, 0, 0.5);
          }
          .background1 {
            display: none;
          }
          .h5 {
            position: relative;
            letter-spacing: 0.1px;
            line-height: 24px;
          }
          .col-md-2,
          .col-md-21,
          .div7 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
          .div7 {
            gap: 10px;
            font-size: 14px;
            color: #737373;
          }
          .col-md-2,
          .col-md-21 {
            width: 148px;
            overflow: hidden;
            gap: 20px;
          }
          .col-md-21 {
            width: 152px;
          }
          .your-email {
            position: absolute;
            top: calc(50% - 14px);
            left: 20px;
            letter-spacing: 0.2px;
            line-height: 28px;
          }
          .form-control-input-style-1 {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px;
            background-color: #f9f9f9;
            border: 1px solid #e6e6e6;
            box-sizing: border-box;
            overflow: hidden;
          }
          .input-group-text {
            position: absolute;
            top: calc(50% - 14px);
            left: calc(50% - 36px);
            letter-spacing: 0.2px;
            line-height: 28px;
          }
          .btn {
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            border-radius: 0 5px 5px 0;
            background-color: #23a6f0;
            border: 1px solid #e6e6e6;
            box-sizing: border-box;
          }
          .btn,
          .input-group,
          .input-group-append {
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
          }
          .input-group-append {
            height: 100%;
            bottom: 0;
            width: 117px;
            text-align: center;
            color: #fff;
          }
          .input-group {
            width: 100%;
            left: 0;
            height: 58px;
          }
          .form-text {
            position: absolute;
            bottom: 0;
            left: 2px;
            font-size: 12px;
            letter-spacing: 0.2px;
            line-height: 28px;
          }
          .custom-form-group-subscribe {
            position: relative;
            width: 321px;
            height: 87px;
            font-size: 14px;
            color: #737373;
          }
          .col-md-49,
          .row7 {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
          .col-md-49 {
            width: 321px;
            gap: 20px;
          }
          .row7 {
            gap: 30px;
          }
          .container6,
          .div6 {
            position: absolute;
            overflow: hidden;
          }
          .container6 {
            top: 0;
            left: calc(50% - 161px);
            width: 321px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 70px 0;
            box-sizing: border-box;
          }
          .div6 {
            top: 173px;
            left: 0;
            background-color: #fff;
            width: 414px;
            height: 1071px;
            font-size: 16px;
          }
          .cover-icon2 {
            object-fit: cover;
          }
          .background2,
          .cover-icon2,
          .filter7 {
            position: absolute;
            top: 0;
            left: 0;
            width: 1440px;
            height: 114px;
            overflow: hidden;
          }
          .filter7 {
            background-color: rgba(0, 0, 0, 0.5);
          }
          .background2 {
            display: none;
          }
          .made-with-love {
            margin: 0;
          }
          .col-md-63,
          .row8 {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
          .col-md-63 {
            width: 413px;
            flex-shrink: 0;
            flex-direction: column;
          }
          .row8 {
            flex-direction: row;
          }
          .container7,
          .div11 {
            position: absolute;
            left: calc(50% - 207px);
            width: 414px;
            overflow: hidden;
          }
          .container7 {
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 25px 0;
            box-sizing: border-box;
          }
          .div11 {
            top: 1244px;
            background-color: #fafafa;
            height: 98px;
            text-align: center;
            font-size: 14px;
            color: #737373;
          }
          .mobile-footer-6,
          .mobile-shop-1 {
            position: relative;
            overflow: hidden;
          }
          .mobile-footer-6 {
            align-self: stretch;
            background-color: #fafafa;
            height: 1342px;
            flex-shrink: 0;
            text-align: left;
          }
          .mobile-shop-1 {
            background-color: #fff;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: center;
            font-size: 24px;
            color: #252b42;
            font-family: Montserrat;
          }
          

/* } */