.hero-cover2-icon {
  
  width: 100%;
  height: 716px;
  overflow: hidden;
  object-fit: cover; 
}



.background,
.filter,
.hero-cover2-icon {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.filter {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.background {
  width: 1440px;
  height: 747px;
}
.icn-settings-icn-xs {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.btn-sm-20 {
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
.a,
.a1,
.a2,
.a3,
.btn-sm-20,
.col-md-4,
.col-md-41 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.col-md-4 {
  height: 46px;
  overflow: hidden;
  align-items: center;
  gap: 10px;
}
.a,
.a1,
.a2,
.a3,
.col-md-41 {
  align-items: flex-start;
}
.col-md-41 {
  overflow: hidden;
  padding: 10px;
}
.a,
.a1,
.a2,
.a3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}
.a1,
.a2,
.a3 {
  left: 31.5px;
}
.a2,
.a3 {
  left: 61.5px;
}
.a3 {
  left: 93.5px;
}
.social-media {
  position: relative;
  width: 120px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.col-md-42,
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.col-md-42 {
  height: 46px;
  overflow: hidden;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.row {
  width: 1438px;
  justify-content: space-between;
  padding: 0 24px;
}
.collapse-navbar-collapse,
.container {
  position: absolute;
  width: 1438px;
  overflow: hidden;
}
.container {
  top: 0;
  left: calc(50% - 719px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.collapse-navbar-collapse {
  top: 9px;
  left: calc(50% - 717.5px);
  height: 46px;
}
.bandage,
.navbar-dark {
  position: absolute;
  /* left: 0; */
}
.navbar-dark {
  width: 100%;
  top: 0;
  right: 0;
  background-color:#252B42;
  height: 58px;
  color: white;
  /* overflow: hidden; */
}
.bandage {
  top: 13px;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.navbar-brand {
  position: absolute;
  top: 0;
  left: calc(50% - 680.5px);
  width: 187px;
  height: 58px;
  overflow: hidden;
}
.navbar-toggler,
.navbar-toggler-icon {
  position: absolute;
  width: 24px;
  height: 13.71px;
}
.navbar-toggler-icon {
  top: 0;
  left: calc(50% - 12px);
}
.navbar-toggler {
  top: 21px;
  left: 1413px;
  overflow: hidden;
  display: none;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.a4,
.li {
  width: 43px;
  height: 24px;
  overflow: hidden;
}
.a4 {
  position: absolute;
  top: 0;
  left: 0;
}
.li {
  position: relative;
  flex-shrink: 0;
}
.category {
  position: absolute;
  top: calc(50% - 13.5px);
  left: 6px;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 500;
}
.vector-icon {
  position: absolute;
  top: calc(50% - 2.5px);
  left: 53px;
  width: 10px;
  height: 5.71px;
}
.dropdown-toggle {
  position: relative;
  width: 63px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.col-md-3,
.col-md-31,
.col-md-32,
.col-md-33,
.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  gap: 10px;
  font-size: 14px;
  color: #737373;
}
.col-md-3,
.col-md-31,
.col-md-32,
.col-md-33 {
  width: 153px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 48px 0;
  box-sizing: border-box;
  gap: 20px;
}
.col-md-31,
.col-md-32,
.col-md-33 {
  width: 146px;
}
.col-md-32,
.col-md-33 {
  width: 152px;
}
.col-md-33 {
  width: 151px;
}
.drop-hero-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.col-md-34 {
  background-color: #fff;
  width: 321px;
  height: 368px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.col-md-34,
.container1,
.row1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.row1 {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.container1 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  flex-direction: column;
  justify-content: flex-start;
}
.dropdown-menu {
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  width: 1440px;
  height: 368px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  font-size: 16px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  color: #252b42;
}
.a5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
}
.a5,
.a6,
.li1,
.li2 {
  height: 24px;
  overflow: hidden;
}
.li1 {
  position: relative;
  width: 45px;
  flex-shrink: 0;
}
.a6,
.li2 {
  width: 33px;
}
.a6 {
  position: absolute;
  top: 0;
  left: 0;
}
.li2 {
  position: relative;
  flex-shrink: 0;
}
.a7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
}
.a7,
.a8,
.li3,
.li4 {
  height: 24px;
  overflow: hidden;
}
.li3 {
  position: relative;
  width: 58px;
  flex-shrink: 0;
}
.a8,
.li4 {
  width: 44px;
}
.a8 {
  position: absolute;
  top: 0;
  left: 0;
}
.li4 {
  position: relative;
  flex-shrink: 0;
}
.navbar-nav {
  position: absolute;
  top: calc(50% - 12.5px);
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.icn-settings-icn-xs6 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.login-register {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.btn-32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  gap: 5px;
}
.a9,
.li5 {
  width: 166px;
  height: 54px;
  overflow: hidden;
}
.a9 {
  position: absolute;
  top: 0;
  left: 0;
}
.li5 {
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
}
.a10,
.btn-321 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.btn-321 {
  border-radius: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}
.a10 {
  width: 46px;
  height: 46px;
}
.div4,
.li6 {
  position: relative;
}
.li6 {
  width: 46px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.div4 {
  letter-spacing: 0.2px;
  line-height: 16px;
}
.a11,
.li7 {
  width: 56px;
  height: 46px;
  overflow: hidden;
}
.a11 {
  position: absolute;
  top: 0;
  left: 0;
}
.li7 {
  position: relative;
  flex-shrink: 0;
}
.navbar-nav1 {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% + 254.5px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  color: #23a6f0;
}
.collapse-navbar-collapse1,
.navbar-light {
  position: absolute;
  height: 58px;
  overflow: hidden;
}
.collapse-navbar-collapse1 {
  top: 0;
  left: calc(50% - 453.5px);
  width: 1155px;
  text-align: center;
  font-size: 14px;
  color: #737373;
}
.navbar-light {
  top: 70px;
  left: calc(50% - 719.5px);
  width: 1437px;
  font-size: 24px;
  color: #252b42;
}
.navbar-style-8-navbar-light {
  position: absolute;
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  left: 0;
  background-color: #fff;
  height: 136px;
  overflow: hidden;
}
.h1-headline6 {
  position: relative;
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
}
.we-know-how {
  margin: 0;
}
.h3,
.h4 {
  position: relative;
}
.h4 {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
  color: #fafafa;
}
.h3 {
  letter-spacing: 0.1px;
  line-height: 32px;
}
.buttonbtnprimary-colorbtn-l,
.cta {
  display: flex;
  justify-content: flex-start;
}
.buttonbtnprimary-colorbtn-l {
  border-radius: 5px none solid;
  background-color: #2dc071;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  -webkit-border-radius: 5px none solid;
  -moz-border-radius: 5px none solid;
  -ms-border-radius: 5px none solid;
  -o-border-radius: 5px none solid;
}
button{
  color:white;
  background-color: none !important;
}
.cta {
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  font-size: 24px;
}
.col-md-43,
.col-md-8 {
  overflow: hidden;
  flex-shrink: 0;
}
.col-md-8 {
  width: 599px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.col-md-43 {
  width: 415px;
}
.container2,
.row2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row2 {
  flex-direction: row;
  padding: 48px 0;
  gap: 30px;
}
.container2 {
  position: absolute;
  top: 48px;
  left: calc(50% - 522.5px);
  flex-direction: column;
  padding: 112px 0;
}

.carouselcaptions,
.carouselcaptions1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 62px;
  height: 10px;
}
.carouselcaptions1 {
  left: 63px;
  width: 63px;
  opacity: 0.5;
}
.carousel-indicators {
  position: absolute;
  bottom: 49px;
  left: calc(50% - 62.5px);
  width: 126px;
  height: 10px;
  overflow: hidden;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: 283px;
  left: 1381px;
  width: 24px;
  height: 44.47px;
  overflow: hidden;
}
.carousel-control-prev-icon {
  left: 40px;
}
.carousel-1 {
  position: absolute;
  width:100%;
  top: 136px;
  right: 0;
  left: 1px;
  border-radius: 5px;
  /* background-color: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box; */
  /* height: 716px; */
  font-size: 16px;
}
.desktop-shop-header-1 {
  margin: 0px;
  /* position: relative; */
  background-color: #fafafa;
  width: 100%;
  height: 876px;
  overflow: hidden;
  /* flex-shrink: 0; */
  color: #fff;
  
}
.paragraph {
  font-size: 14px;
  color: #737373;
  /* text-align: center; */
  margin-left: 80px;
}
.main-content {
  gap: 10px;
}
.main-content,
.row3 {
  width: 607px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.filter-icon,
.media-bg-cover {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.filter-icon {
  width: calc(100% - 1px);
  left: 1px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.media-bg-cover {
  width: 100%;
  left: 0;
}
.h2 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 21px);
  letter-spacing: 0.1px;
  line-height: 24px;
}
.card-content {
  position: absolute;
  width: calc(100% - 340px);
  right: 309px;
  bottom: 26px;
  left: 31px;
  background-color: #fff;
  height: 48px;
  overflow: hidden;
}
.card-item,
.col-md-6 {
  width: 510px;
  height: 500px;
  overflow: hidden;
}
.card-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.col-md-6 {
  position: relative;
  flex-shrink: 0;
}
.card-content1 {
  position: absolute;
  width: calc(100% - 104px);
  right: 83px;
  bottom: 18px;
  left: 21px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 48px;
  box-sizing: border-box;
}
.card-item1,
.col-md-35 {
  width: 240px;
  height: 500px;
  overflow: hidden;
}
.card-item1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.col-md-35 {
  position: relative;
  flex-shrink: 0;
}
.card-content2 {
  position: absolute;
  width: calc(100% - 70px);
  right: 56px;
  bottom: 23px;
  left: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 26px;
  box-sizing: border-box;
}
.card-content2,
.card-content3,
.card-item2 {
  background-color: #fff;
  overflow: hidden;
}
.card-item2 {
  position: relative;
  width: 240px;
  height: 242px;
  flex-shrink: 0;
}
.card-content3 {
  position: absolute;
  width: calc(100% - 120px);
  right: 102px;
  bottom: 18px;
  left: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 40px;
  box-sizing: border-box;
}
.col-md-36 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.col-md-36,
.container3,
.row4 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.row4 {
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  text-align: center;
  font-size: 16px;
}
.container3 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 48px;
}
.desktop-shop-cards-31 {
  align-self: stretch;
  position: relative;
  background-color: #fafafa;
  height: 770px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 24px;
}
.h2-section-title {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.h3-section-title {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 32px;
  color: #252b42;
}
.paragraph1 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.main-content1,
.row5 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-content1 {
  width: 691px;
  gap: 10px;
}
.row5 {
  width: 692px;
  font-size: 20px;
  color: #737373;
}
.fixed-height {
  align-self: stretch;
  position: relative;
  height: 427px;
  overflow: hidden;
  flex-shrink: 0;
}
.h5-product-title {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  width: 131px;
}
.link-product-category {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #737373;
}
.h5-price,
.h5-price1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  width: 52px;
  flex-shrink: 0;
}
.h5-price1 {
  color: #23856d;
  width: 45px;
}
.prices {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 3px;
  gap: 5px;
  color: #bdbdbd;
}
.ellipse-div,
.product-colors-child,
.product-colors-inner,
.product-colors-item {
  position: relative;
  border-radius: 50%;
  background-color: #23a6f0;
  width: 16px;
  height: 16px;
}
.ellipse-div,
.product-colors-inner,
.product-colors-item {
  background-color: #23856d;
}
.ellipse-div,
.product-colors-inner {
  background-color: #e77c40;
}
.ellipse-div {
  background-color: #252b42;
}
.product-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6.08px;
}
.h5-product-title-parent,
.product-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.h5-product-title-parent {
  align-self: stretch;
  align-items: center;
  padding: 25px 25px 35px;
  gap: 10px;
}
.product-card {
  background-color: #fff;
  width: 239px;
  align-items: flex-start;
}
.col-md-37,
.col-md-38 {
  flex-direction: column;
  align-items: center;
}
.col-md-37 {
  width: 238px;
  display: flex;
  justify-content: flex-start;
}
.col-md-38 {
  width: 241px;
}
.col-md-38,
.col-md-39,
.container4,
.row6 {
  display: flex;
  justify-content: flex-start;
}
.col-md-39 {
  width: 240px;
  flex-direction: column;
  align-items: center;
}
.container4,
.row6 {
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
.container4 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1124px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
  gap: 80px;
}
.desktop-product-cards-10 {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 1652px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 16px;
}
.shop-hero-2{
  position: relative;
}
.shop-hero-2-product-slide-2 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: #23856d;
  width: 1440px;
  height: 711px;
  overflow: hidden;
}
.h1-headline4 {
  font-size: 58px;
  line-height: 80px;
  display: inline-block;
  width: 509px;
}
.btn-text,
.h1-headline4,
.h41 {
  position: relative;
  letter-spacing: 0.2px;
}
.h41 {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  width: 341px;
}
.btn-text {
  line-height: 22px;
  border-radius: none important;
  color: white;
}
.button-md {
  border-radius: 5px;
  background-color: #2dc071;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  font-size: 14px;
  border-radius: none important;
  -webkit-border-radius: none im;
  -moz-border-radius: none im;
  -ms-border-radius: none im;
  -o-border-radius: none im;
}
.button-md,
.col-md-61,
.cta1 {
  display: flex;
  justify-content: flex-start;
}
.cta1 {
  flex-direction: row;
  align-items: center;
  gap: 34px;
  text-align: center;
  font-size: 24px;
}
.col-md-61 {
  width: 509px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0 0;
  box-sizing: border-box;
  gap: 30px;
}
.shop-hero-2-png-picture-1-icon {
  position: relative;
  width: 443px;
  height: 685px;
  object-fit: cover;
}
.col-md-62,
.container5,
.row8 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.col-md-62 {
  width: 510px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
.container5,
.row8 {
  align-items: flex-start;
}
.row8 {
  height: 599px;
  flex-shrink: 0;
  flex-direction: row;
  gap: 30px;
}
.container5 {
  position: absolute;
  top: 0;
  left: calc(50% - 511px);
  width: 1036px;
  height: 711px;
  flex-direction: column;
  padding: 112px 0;
  box-sizing: border-box;
  color: white !important;
}
.carousel-inner1,
.carousel-item1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 709px;
  overflow: hidden;
}
.carousel-inner1 {
  width: 100%;
  right: 0;
}
.carousel-indicators1 {
  position: absolute;
  bottom: 49px;
  left: calc(50% - 63px);
  width: 126px;
  height: 10px;
  overflow: hidden;
}
.carousel-control-next-icon1,
.carousel-control-prev-icon1 {
  position: absolute;
  top: 401px;
  left: 1381px;
  width: 24px;
  height: 44.47px;
  overflow: hidden;
}
.carousel-control-prev-icon1 {
  left: 40px;
}
.carousel-2 {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  width: 1440px;
  height: 709px;
  font-size: 20px;
  color: #fff;
}
.asian-woman-man-with-winter-cl-icon {
  position: absolute;
  top: -117px;
  left: -36px;
  width: 725px;
  height: 774px;
  object-fit: cover;
}
.none {
  position: absolute;
  top: 117px;
  left: 36px;
  width: 632px;
  height: 491.99px;
}
.col-md-63 {
  position: relative;
  width: 704px;
  height: 682px;
}
.h5-header-tag {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.h1-headline,
.h4-sub-headline {
  position: relative;
  font-size: 40px;
  letter-spacing: 0.2px;
  line-height: 50px;
  color: #252b42;
}
.h4-sub-headline {
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  display: inline-block;
  width: 376px;
}
.button-md2,
.cta2 {
  display: flex;
  justify-content: flex-start;
}
.button-md2 {
  border-radius: 5px;
  border: 1px solid #2dc071;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  color: #2dc071;
  background: #FFF;
  
}
.cta2 {
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.col-md-64,
.row9 {
  overflow: hidden;
  display: flex;
  gap: 30px;
}
.col-md-64 {
  width: 573px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.container-fluid {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 682px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16px;
  color: #bdbdbd;
}
.paragraph2 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #737373;
}
.row10,
.tag {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row10 {
  width: 692px;
  flex-direction: column;
}
.tag {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 3px;
  background-color: #e74040;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  padding: 0 10px;
}
.fixed-height8 {
  align-self: stretch;
  position: relative;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
  /* object-fit: cover; */

}
.fixed-height8 img {
  height: 300px;
  width: 348px;
}

.small {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: #8ec2f2;
}
.tags {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.h4-post-title,
.paragraph-post-description {
  position: relative;
  letter-spacing: 0.2px;
  display: inline-block;
}
.h4-post-title {
  font-size: 20px;
  line-height: 30px;
  color: #252b42;
  width: 247px;
}
.paragraph-post-description {
  font-size: 14px;
  line-height: 20px;
  width: 280px;
}
.icon-akar-icons-calendar-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.icon-ant-design-area-chart-out {
  position: relative;
  width: 16px;
  height: 14.67px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.icon-arrow-next {
  position: relative;
  width: 9px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.a13,
.tags-parent {
  overflow: hidden;
  gap: 10px;
}
.a13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}
.tags-parent {
  align-self: stretch;
  align-items: flex-start;
  padding: 25px 25px 35px;
  text-align: left;
  font-size: 12px;
  color: #737373;
}
.col-md-44,
.col-md-46,
.content-card,
.tags-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 348px;
  overflow: hidden;
  align-items: flex-start;
}
.col-md-44,
.col-md-46 {
  width: 328px;
  align-items: center;
}
.col-md-46 {
  width: 329px;
}
.row11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  color: #fff;
}
.container6 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px 0;
  box-sizing: border-box;
  gap: 80px;
}
.desktop-blog-3 {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 1044px;
  text-align: center;
  color: #23a6f0;
}
.col-md-315,
.desktop-blog-3,
.navbar-brand1 {
  overflow: hidden;
  flex-shrink: 0;
}
.navbar-brand1 {
  position: relative;
  width: 187px;
  height: 58px;
}
.col-md-315 {
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebook-icon,
.twitter-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-icon {
  height: 19.76px;
}
.social-media1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.col-md-316 {
  width: 236px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
.col-md-316,
.container7,
.row12 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.row12 {
  flex-direction: row;
  align-items: center;
  gap: 577.5px;
}
.container7 {
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0;
  box-sizing: border-box;
}
.container7,
.div6,
.hr {
  position: absolute;
}
.div6 {
  top: 0;
  left: calc(50% - 720px);
  background-color: #fafafa;
  width: 1440px;
  height: 142px;
  overflow: hidden;
}
.hr {
  top: 137.5px;
  left: calc(50% - 525.5px);
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 1058px;
  height: 1px;
}
.col-md-2,
.col-md-21 {
  width: 148px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.col-md-21 {
  width: 152px;
}
.your-email {
  position: absolute;
  top: calc(50% - 14px);
  left: 20px;
  letter-spacing: 0.2px;
  line-height: 28px;
}
input{
  border: none !important;
  background-color: none;
}
.form-control-input-style-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  overflow: hidden;
}
.input-group-text {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 36px);
  letter-spacing: 0.2px;
  line-height: 28px;
}
.btn {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 5px 0;
  background-color: #23a6f0;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.btn,
.input-group,
.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.input-group-append {
  height: 100%;
  bottom: 0;
  width: 117px;
  text-align: center;
  color: #fff;
}
.input-group {
  width: 100%;
  left: 0;
  height: 58px;
}
.form-text {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 28px;
}
.custom-form-group-subscribe {
  position: relative;
  width: 321px;
  height: 87px;
  font-size: 14px;
  color: #737373;
}
.col-md-47,
.row13 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.col-md-47 {
  width: 321px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
}
.row13 {
  flex-direction: row;
  gap: 30px;
}
.container8,
.div7 {
  position: absolute;
  overflow: hidden;
}
.container8 {
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 0;
  box-sizing: border-box;
}
.div7 {
  top: 142px;
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 272px;
  font-size: 16px;
}
.col-md-7,
.row14 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.col-md-7 {
  width: 600px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.row14 {
  flex-direction: row;
  align-items: center;
}
.container9,
.div12 {
  position: absolute;
  overflow: hidden;
}
.container9 {
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 0;
  box-sizing: border-box;
}
.div12 {
  top: 414px;
  left: calc(50% - 720px);
  background-color: #fafafa;
  width: 1440px;
  height: 74px;
  font-size: 14px;
  color: #737373;
}
.desktop-footer-6,
.ecommerce-desktop-1 {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.desktop-footer-6 {
  align-self: stretch;
  height: 488px;
  flex-shrink: 0;
  font-size: 24px;
}
.ecommerce-desktop-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
}
