:root { 
--gray_50_01:#f5f6ff; 
--gray_50_02:#f8f8f8; 
--blue_A700:#0156ff; 
--blue_gray_100_01:#d0d0d0; 
--light_blue_100:#b2e3ff; 
--light_blue_600:#139ad6; 
--red_400:#f15b41; 
--gray_50:#f9f9f9; 
--green_500:#2cc070; 
--black_900:#000000; 
--yellow_800:#f99d1d; 
--teal_700:#23856d; 
--blue_gray_900:#252b42; 
--gray_600:#727272; 
--gray_700:#666666; 
--gray_400:#bdbdbd; 
--blue_gray_100:#c9ccd7; 
--blue_gray_300:#a1a5b0; 
--amber_600:#ffb700; 
--gray_800:#3c403d; 
--blue_500:#23a6f0; 
--gray_200:#ebebeb; 
--gray_300:#e6e6e6; 
--cyan_600_01:#00aeb8; 
--indigo_900_01:#272560; 
--indigo_900:#232c65; 
--blue_200:#8ec2f2; 
--cyan_600:#00b6bd; 
--indigo_800:#263b80; 
--white_A700:#ffffff; 
}