.h5 {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: var(--h5-size);
    color: var(--text-color);
    font-family: var(--h5);
    padding-bottom: 20px;
  }
  
  .link {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-size: var(--link-size);
    color: var(--second-text-color);
    font-weight: normal;
  }
  
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  
  .colmd2,
  .colmd21 {
    width: 152px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  
  .youremail{
    position: absolute;
    top: calc(50% - 14px);
    left: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  input {
    border: none;
    background-color: #f9f9f9;
    border: 1px solid var(--color-gainsboro);
     
  }
  
  .formcontrol {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: #f9f9f9;
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .grouptext {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 36px);
    letter-spacing: 0.2px;
    line-height: 28px;
    background-color: #23A6F0;
  }
  .subbtn{
    position: relative;
    border-radius: 0px var(--br-8xs) var(--br-8xs) 0px;
    
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: var(--light-text-color);
  }
  
  .btn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 0px var(--br-8xs) var(--br-8xs) 0px;
    background-color: var(--primary-color);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #23A6F0;
    color: #FFFFFF;
  }
  .btn:hover {
      cursor: pointer;
  }
  
  .inputappend {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 117px;
    overflow: hidden;
    text-align: center;
    color: var(--light-text-color);
  }
  
  .inputgroup {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 58px;
    overflow: hidden;
  }
  
  .formtext {
    position: absolute;
    bottom: 0px;
    left: 2px;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  
  .groupsubscribe {
    position: relative;
    width: 321px;
    height: 87px;
    font-size: var(--link-size);
    color: var(--second-text-color);
  }
  
  .colmd4 {
    width: 321px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  
  .row {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }
  
  .container {
    position: absolute;
    top: 0px;
    left: calc(50% - 525px);
    width: 1050px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 70px 0px;
    box-sizing: border-box;
  }
  
  .div {
    position: relative;
    background-color: var(--light-text-color);
    width: 100%;
    height: 350px;
    overflow: hidden;
    text-align: left;
    font-size: var(--h5-size);
    color: var(--text-color);
    font-family: var(--h5);
  }
  .copyright{
    color: var(--second-text-color, #737373);

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.2px;
margin-left: 10px;
padding: 20px;
padding-top: 35px;

  }