.h3-section-title {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 32px;
  }
  .main-content,
  .row9 {
    width: 691px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .row9 {
    width: 1040px;
  }
  .container-child {
    position: relative;
    background-color: #ececec;
    width: 1042px;
    height: 2px;
  }
  .container8 {
    position: absolute;
    top: 0;
    left: calc(50% - 525px);
    width: 1124px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 48px 0;
    box-sizing: border-box;
    gap: 24px;
  }
  .desktop-product-cards-15 {
    position: relative;
    background-color: #fafafa;
    width: 1440px;
    height: 1086px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 24px;
    color: #252b42;
    font-family: Montserrat;
  }
  