.product-cover-5-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .fixed-height {
    align-self: stretch;
    position: relative;
    height: 280px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .h5-product-title {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 24px;
    display: inline-block;
    width: 131px;
  }
  .link-product-category {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    color: #737373;
  }
  .h5-price,
  .h5-price1 {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 24px;
    display: inline-block;
    width: 52px;
    flex-shrink: 0;
  }
  .h5-price1 {
    color: #23856d;
    width: 45px;
  }
  .prices {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 3px;
    gap: 5px;
    text-align: center;
    color: #bdbdbd;
  }
  .h5-product-title-parent {
    align-self: stretch;
    overflow: hidden;
    padding: 25px 25px 35px;
    gap: 10px;
  }
  .col-md-35,
  .h5-product-title-parent,
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-card {
    background-color: #fff;
    width: 239px;
    overflow: hidden;
  }
  .col-md-35 {
    width: 238px;
  }
  .col-md-36 {
    width: 241px;
    flex-direction: column;
    align-items: center;
  }
  .col-md-36,
  .col-md-37,
  .row8 {
    display: flex;
    justify-content: flex-start;
  }
  .col-md-37 {
    width: 240px;
    flex-direction: column;
    align-items: center;
  }
  .row8 {
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    text-align: left;
    font-size: 16px;
    color: #252b42;
    font-family: Montserrat;
  }
  